/*https://fonts.google.com/specimen/Noto+Sans+JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@keyframes top_column_1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes top_column_2 {
  0% {
    transform: translateX(+100%);
  }
  50% {
    transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
    text-decoration: none;
}
.container {
  height: 100vh;
}
.background {
  width: 100%;
  position: absolute;
  height: 100vh;
  background-image: linear-gradient(to top, white 0%, transparent 90%), url('illust/profile-page/background.png');
  background-position: center;
  background-size: cover;
  z-index: -1;/*=============================================================================Z-INDEX*/
}
.top_page_content {
  z-index: 1;/*=============================================================================Z-INDEX*/
  position: absolute;
  top: 30%;
  left: 50%;/*centering*/
  font-size: 1.5em;
  transform: translate(-50%, -30%);/*centering*/
  display: grid;
  grid-template-columns: auto auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
  grid-template-rows: auto;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
    .top_column_1 {
        grid-row: 1;/*element inside "top_page_content" grid container*/
        grid-column: 1;
        display: grid;
        place-items: center;
        animation: 3s ease-out 0s 1 top_column_1;
    }
    .top_logo {
        width: 100px;
    }
    .top_column_2 {
        grid-row: 1;/*element inside "top_page_content" grid container*/
        grid-column: 2;
        display: grid;
        place-items: center;
        align-content: center;
        margin-left: 20px;
        animation: 3s ease-out 0s 1 top_column_2;
        color: black;
    }


.content {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  z-index: 4;/*=============================================================================Z-INDEX*/
  position: absolute;
  color: black;
}


/*      HAMBURGER MENU TRIGGER START (CSS)      */
/* https://youtu.be/oLgtucwjVII */
.article_links {
    position: fixed; /*Based on where viewport is*/
    overflow: hidden;
    
    z-index: 8;/*=============================================================================Z-INDEX*/
    background-color: white;
    
    top: 0px;
    right: 0px;
    transition: all 0.6s;
    
    width: 0px;
    height: 100%;
    
    display: grid;
    place-items: center;
}
.article_links_hr {
    margin-top: 10px;
}
.article_links_darken {
    position: fixed; /*Based on where viewport is*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 7;/*=============================================================================Z-INDEX*/
    transition: all 0.6s;
}
.article_links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    
  display: grid;
}
.article_links li {
  margin-bottom: 25px;
}
.article_links a {
    color: #000000;
}
.article_links_hr {
    margin-bottom: 25px;
}
#check:checked ~ .article_links {
    width: 250px;
}
#check:checked ~ .article_links_darken {
    display: block;
    opacity: 0.5;
}
.check_input {
    display: none;
}
.bold_links {
    font-size: 20px;
    font-weight: bold;
    color: #222;
}
.menu-btn {
  position: fixed; /*Based on where viewport is*/
  top: 5px;
  right: 5px;
  z-index: 9;/*=============================================================================Z-INDEX*/
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
}
/*       HAMBURGER MENU ENDS       */


/*   BOTTOM BUTTONS START    */
#bottom_button {
    display: grid;
    z-index: 90;/*=============================================================================Z-INDEX*/
    position: fixed;
    bottom: 16px;
    width: 100%;
    left: 0px;
    height: auto;
    place-items: center;
}
#back_to_top {
  display: none; /*hidden by default*/
  
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
    
    /*centering contents*/
    /*display: grid; it will turn to grid in the javascript instead */
    place-items: center;
    
    /*make the background rounded*/
    width: 60px;
    height: 60px;
    font-size: 2em;
    background-color: white;
    border: 3px solid black;
}

#back_to_top:focus {
   outline: none;
}
.down_button_container {
    display: grid;
    height: 60px;
    width: 100%; /*100% width of its container*/
}
#down_to_profile_button {
    z-index: 3;/*=============================================================================Z-INDEX*/
    opacity: 1;
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    /*centering contents*/
    /*display: grid; it will turn to grid in the javascript instead */
    place-items: center;
    /*make the background rounded*/
    width: 60px;
    height: 60px;
    font-size: 2em;
    /*border-radius: 100%;*/
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid black;
}
#down_to_profile_button:focus {
   outline: none;
}
/*   BOTTOM BUTTON ENDS   */


.about {
    /*background: rgba(255, 255, 255, 0.8);*/
    padding: 10px;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 1.1rem;
    margin-top: 20vh;/*crucial*/
}
.about p {
    text-align: center;
}
.about_title {
    color: #7f8c8d;
    width: 100%;
    display: grid;
    place-items: center;
}
.footer {
    height: 100px;
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center;
}
.about_site {
    /*background: rgba(255, 255, 255, 0.8);*/
    padding: 10px;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 1.1rem;
    margin-top: 2vh;/*crucial*/
}
.about_site p {
    text-align: center;
}
.about_site_title {
    color: #7f8c8d;
    width: 100%;
    display: grid;
    place-items: center;
}

.bottom_button_links {
    display: grid;
    grid-template-columns: auto auto;/*using display:grid to adjust the position so the child elements can appear side by side*/
    grid-template-rows: auto;
    width: 40%;
    position: relative;
    place-items: center;
}
    .twitter_link {
        z-index: 2;/*=============================================================================Z-INDEX*/
        
        grid-row: 1;/*element inside grid container*/
        grid-column: 1;
    }
    .email_link {
        z-index: 2;/*=============================================================================Z-INDEX*/
        grid-row: 1;/*element inside grid container*/
        grid-column: 2;
    }
    .twitter_logo {
        width: 30px;
    }
    .mail_logo {
        width: 30px;
    }



/*MARQUEE STYLE STARTS*/
:root {
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: /*var(--marquee-height)*/ auto;
  background-color: white;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  background-color: white;
}
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
  background-color: white;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100%;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}
/*MARQUEE STYLE ENDS*/