/*Built with no bootstraps or any kind of that to avoid obsolete codes*/

/*@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');  importing one font*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat&display=swap'); /*importing two fonts Moontserrat and Sigmar One*/

@keyframes sliding_transition_0 {
    /* it covers the content using expanding clip-path */
    80% {
        clip-path: circle(7% at 50% -50%);
    }
    88% {
        clip-path: circle(7% at 50% 20%);
    }
    90% {
        clip-path: circle(7% at 50% 20%);
    }
    93% {
        clip-path: circle(60% at 50% 20%);
    }
    100% {
        clip-path: circle(800% at 50% 20%);
    }
}
@keyframes sliding_transition_1 {
    /* it covers the content using expanding clip-path */
    80% {
        clip-path: circle(7% at 50% -50%);
    }
    88% {
        clip-path: circle(7% at 50% 20%);
    }
    90% {
        clip-path: circle(7% at 50% 20%);
    }
    93% {
        clip-path: circle(68% at 50% 20%);
    }
    100% {
        clip-path: circle(800% at 50% 20%);
    }
}
@keyframes sliding_transition_2 {
    /* it make the content visible using expanding background-clip on a clip-path */
    0% {
        clip-path: circle(0% at 50% 20%);
    }
    6% {
        clip-path: circle(10% at 50% 20%);
        background-clip: border-box;
    }
    20% {
        clip-path: circle(240% at 50% 20%);
        background-clip: border-box;
    }
    100% {
        clip-path: circle(300% at 50% 20%);
    }
}
@keyframes loading_bar_desktop {
    6% {
        height: 0%;
    }
    /*adjusted to 80% to match "sliding_transition" keyframes*/
    80% {
        height: 100%;
    }
    100%{
        height: 100%;
    }
}
@keyframes loading_bar_mobile {
    0% {
        width: 0%;
    }
    /*adjusted to 80% to match "sliding_transition" keyframes*/
    80% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
html {
    background: #fff;
    
    /*The following is for Chrome's resizeable url bar problem on mobile. 
    
    https://developers.google.com/web/updates/2016/12/url-bar-resizing
    https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile
    https://bugs.chromium.org/p/chromium/issues/detail?id=844848#c4
    */
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #3E4A53;
  color: #fff;
  line-height: 1.6;
  
  /*The following is important to hide leaks*/
  overflow: hidden;
  height: 100%;
  width: 100%;
}


/*our image container*/
.slider {
  position: absolute;
  bottom:0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;/*=============================================================================Z-INDEX*/     /*        BOTTOM-MOST        */
  
  /*
    background color that will be shown when "sliding_transition_2" is not filling the entire page yet
    IT MUST HAVE THE SAME COLOR AS THE ONE USED IN ".slide .content" 
  */
  background-color: #3E4A53; /* I like #21D1FC but it looks like unfitting later on */
}

/*https://stackoverflow.com/questions/1909648/stacking-divs-on-top-of-each-other*/
.about {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  position: absolute;
  left: 0px;
  top: 0px;
  height:100%;
  opacity: 1;
  width: 100%;
  color: rgb(64, 60, 60);
  z-index: 10;/*=============================================================================Z-INDEX*/    /*   SUPPOSED TO BE ABOVE EVERYTHING  */
  padding: 90px;
  background-color: #f7f7f7;
}
.about a {
    text-decoration: none;
}
.site_history {
    position: absolute;
    bottom: 20px;
    right: 2px;
    font-size: 0.5em;
}

/*
image that are not shown yet. javascript will change an element class from "slide" to "slide curront" to show image
*/
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/*
Javasceipt will change element class to "slide current" then CSS call .slide.current and set the opacity to 1 to show image. .slide.current berarti ada 2 class di satu element, class="slide current"

diberi animation "sliding_transition_2" yang akan hanya berjalan saat Javascript mengganti suatu element ke class "slide current". animation berjalan sekali tiap class di apply. animation ini untuk membuat apapun gambar di background tammpil dalam bentuk lingkaran yang diberi animasi.
*/
.slide.current {
  opacity: 1;
  
  clip-path: circle(0% at 50% 20%);
  animation: sliding_transition_2;
  animation-duration: 6s;
}

/*
".slide .content" dengan spasi berarti element dengan class bernama "content" berada di dalam element dengan class bernama "slide", dan style ini hanya akan berjalan di 
dalam element dengan class "content" yang berada di dalam elemen dengan class bernama "slide". style ini untuk menyembunyikan menggunakan slider berwarna berbentuk expanding circle yang nantinya
akan dimunculkan dengan mengganti classnya menggunakan javascript (diganti ke "slide current" sehingga style yang berjalan adalah ".slide.current .content")

itu terjadi karena animation hanya berjalan sekali tiap diawal diaplikasikan style, jadi tiap style ter-reapply animation akan jalan lagi
*/
.slide .circle_0 {
  position: absolute;
  height:100%;
  left: 0%;
  opacity: 1;
  width: 100%;
  z-index: 3;/*=============================================================================Z-INDEX*/
  /*
    color that will be shown when "sliding_transition" is run
    IT MUST HAVE THE SAME COLOR AS THE ONE USED IN ".slider" 
  */
  background-color: #3E4A53;
  color: #333;
  padding: 35px;
  clip-path: circle(7% at 50% -50%);
}
.slide .circle_1 {
  position: absolute;
  height:100%;
  left: 0%;
  opacity: 1;
  width: 100%;
  z-index: 2;/*=============================================================================Z-INDEX*/
  /*
    color that will be shown when "sliding_transition_1" is run
  */
  background-color: #2173b1;
  mix-blend-mode: difference;
  color: #333;
  padding: 35px;
  clip-path: circle(7% at 50% -50%);
}
.slide .circle_0 h1 {
  margin-bottom: 0px;
  z-index: 4;/*=============================================================================Z-INDEX*/
}

/*page number showing method have the same method with the one used in CSS animation, they wait for the active element shown by javascript*/
.page_number_container {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.page_number {
    display: none; /*Hidden before*/
    z-index: 6;/*=============================================================================Z-INDEX*/
    background-color: none;
    mix-blend-mode: difference;
    font-family: 'Heebo', sans-serif;
    font-style: bold;
}
.slide.current .page_number {
  display: inline; /*shown after the parent class change from "slide" to "slide current"*/ 
}

/*
the style that always run after javascript change an element class from "slide" to "slide current", the CSS is targeted to an element with class named "content" inside that element with "slide current" class
this is to move an element
*/
.slide.current .circle_0 {
  opacity: 1;
  animation-name: sliding_transition_0;
  animation-duration: 6s; /* MUST HAVE THE SAME DURATION AS THE SLIDESHOW IN JAVASCRIPT */
}
.slide.current .circle_1 {
  opacity: 1;
  animation-name: sliding_transition_1;
  animation-duration: 6s; /* MUST HAVE THE SAME DURATION AS THE SLIDESHOW IN JAVASCRIPT */
}

/* COMPLICATED SVG BLEND MODE APPLYING METHOD START */
        .logo {
            /*VERY IMPORTANT CODEBLOCKS START*/
            position: fixed;
            width: 60px;
            height: 60px;
            mix-blend-mode: difference;
            text-align: center;
            z-index: 2;/*=============================================================================Z-INDEX*/
            /*VERY IMPORTANT CODEBLOCKS ENDS*/
            top: 10%;
            left: 15px;
        }
        .logo_contain svg {
            fill: #fff;/*Must be here for the svg to be able to use blend mode*/
        }
/* COMPLICATED SVG BLEND MODE APPLYING METHOD ENDS */

.whitespace_mobile {
    display: none;
}
.onscreen_pane_position {
    display: grid;
    grid-template-columns: auto auto;/*using display:grid to adjust the position so the child elements can appear side by side*/
    grid-template-rows: auto;
    position: absolute;
    height: 100%;
    right: 0;
    width: auto;
}
.whitespace_desktop {
    background-color: #ffffff;
    display: grid;
    place-items: center;
    color: #000000;
    z-index: 4;/*=============================================================================Z-INDEX*/
    height: 100%;
    width: 100px;
    right: 0;
    grid-row: 1;/*element inside onscreen_pane_position grid container*/
    grid-column: 2;
    grid-template-columns: auto auto;/*using display:grid to adjust the position so the child elements can appear side by side*/
    grid-template-rows: auto;
}
.loading_desktop {
    position: fixed;/*dunno why bbut this one works inside grid*/
    z-index: 4;/*=============================================================================Z-INDEX*/
    top: 0;
    width: 5px;
    height: 100%;
    /*mix-blend-mode: difference;*/
    background-color: #19212B; /*#19212B*/
    animation: loading_bar_desktop;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    grid-row: 1;/*element inside whitespace_desktop grid container*/
    grid-column: 1;
}
.logo_name_desktop {
    font-size: 2em;
    color: #000000;
    grid-row: 1;/*element inside whitespace_desktop grid container*/
    grid-column: 2;
}
.logo_name_mobile {
    display: none;
}
.loading_mmobile {
    display: none;
}

.sociallinks {
    z-index: 4;/*=============================================================================Z-INDEX*/
    background-color: none;/*must there for mix-blend-mode to work*/
    mix-blend-mode: difference;
    grid-row: 1;/*element inside onscreen_pane_position grid container*/
    grid-column: 1;
}
.sociallinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.sociallinks li {
  float: left;
}

.sociallinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


/*    HAMBURGER MENU START      */
/* https://youtu.be/oLgtucwjVII */
.article_links {
    position: fixed;
    overflow: hidden;
    
    z-index: 8;/*=============================================================================Z-INDEX*/
    background-color: white;
    
    top: 0px;
    right: 0px;
    transition: all 0.6s;
    
    width: 0px;
    height: 100%;
    
    display: grid;
    place-items: center;
}
.article_links_darken {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    top: 0px;
    left: 0px;
    position: fixed;
    opacity: 0;
    z-index: 7;/*=============================================================================Z-INDEX*/
    transition: all 0.6s;
}
.article_links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    
  display: grid;
}
.article_links li {
  margin-bottom: 25px;
}
.article_links a {
    color: #000000;
}
.article_links_hr {
    margin-bottom: 25px;
}
#check:checked ~ .article_links {
    width: 250px;
}
#check:checked ~ .article_links_darken {
    display: block;
    opacity: 0.5;
}
.check_input {
    display: none;
}
.hamburger_icon {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 9;/*=============================================================================Z-INDEX*/
    width: 45px;
    
    mix-blend-mode: difference;
    /*background-color: #fff;*/
}

/*     HAMBURGER MENU ENDS      */



/*
DESKTOP VERSION HARUS DITULIS SEBELUM @media QUERY AGAR YANG TERBACA DI HAPE ADALAH YANG DIDALAM @media, KALAU YANG TERAKHIR KODE UNTUK DESKTOP MAKA YANG TERBACA DI HAPE ADALAH KODE YANG UNTUK DESKTOP KARENA DIA SELALU TRUE. SEMENTARA DESKTOP TAK BISA MEMAKAI YANG ADA DIDALAM @media KARENA DIA BERNILAI FALSE UNTUK DESKTOP YANG PUNYA SIZE SCREEN LEBIH DARI 500PX, JADI YANG TERBACA YANG SEBELUM @media, YAITU BLOK KODE YANG UNTUK DESKTOP
https://youtu.be/yU7jJ3NbPdA
https://stackoverflow.com/questions/30460681/changing-image-src-depending-on-screen-size
*/

/* DESKTOP Backgorund Images. must be 16:9. but you have to create something larger than 3200x1800 later so the image is not pixelated 

You need to create something like B4 Size, 4299x3035. DO IT. remember, face in the middle
*/
 
.slide:first-child {
  background: url('illust/desktop/1D.png') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('illust/desktop/2D.png') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('illust/desktop/3D.png') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('illust/desktop/4D.png') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('illust/desktop/5D.png') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('illust/desktop/6D.png') no-repeat
    center center/cover;
}




/*              M O B I L E  S E C T I O N                 */

/*for mobile that have less than 550px. standard used is 500px*/
@media (max-width: 550px) {
body {
  font-family: 'Heebo', sans-serif;
  padding-top: 0px;
  background: #333;
  color: #fff;
  line-height: 1.6;

  /*The following is important to hide leaks*/
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.whitespace_desktop {
    display: none;
}
.whitespace_mobile {
    z-index: 3;
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    display: grid;
    place-items: center;
    color: #000000;
    z-index: 4;
    height: 35px;
    width: 100%;
    
    grid-template-columns: auto;/*using display:grid to adjust the position so the child elements can appear side by side*/
    grid-template-rows: auto auto;
    
}
.site_description_mobile {
    color: #000000;
    grid-row: 2;/*element inside whitespace_mobile grid container*/
    grid-column: 1;
}
.loading_mobile {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
    /*mix-blend-mode: difference;*/
    display: grid;
    background-color: #19212B; /*#19212B*/
    animation: loading_bar_mobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    grid-row: 1;/*element inside whitespace_mobile grid container*/
    grid-column: 1;
}
.loading_desktop {
    display: none;
}
.page_number_container {
  position: absolute;
  top: 0%;
  left: 0%;
}
.page_number {
    background-color: none;/*must there for mix-blend-mode to work*/
    mix-blend-mode: difference;
    display: none; /*Hidden before*/
    z-index: 6;
    font-family: 'Heebo', sans-serif;
    font-style: bold;
    
    font-size: 1em;
}
.slide.current .page_number {
  display: block; /*shown after the parent class change from "slide" to "slide current"*/ 
}

.logo {
    position: absolute;
    top: 10%;
    left: 15px;
    opacity: 1;
    display: grid;
    grid-template-columns: auto 120px;/*using display:grid to adjust the position so the child elements can appear side by side. this is the grid container*/
    grid-template-rows: auto;
}
.logo_contain {/*element containing the logo. this element is inside element with class named "logo" grid*/
    grid-column: 1;
    grid-row: 1;
}
.logo_name_mobile {
    display: grid;
    grid-column: 2;/*element containing the text to be displayed on mobile screen. this element is inside element with class named "logo" grid*/
    grid-row: 1;
    place-items: center;
    font-size: 2em;
    color: white;
    text-align: center;
    text-decoration: none;
}
.about {
  font-family: 'Montserrat', sans-serif;
  text-align: none;
  position: absolute;
  bottom: 0;
  height:100%;
  opacity: 1;
  width: 100%;
  color: rgb(64, 60, 60);
  padding: 5px;
  background-color: #f7f7f7;
}
    
.sociallinks {
    position: absolute;
    bottom: 5%;
    right: 5px;
    grid-row: 1;
    grid-column: 2;
}

.sociallinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.sociallinks li {
  float: none;/*for vertical list in mobile*/
}

.sociallinks li a {
  display: block;
  color: white;
  text-align: right;
  padding: 10px;
  text-decoration: none;
}

/* MOBILE Backgorund Images. must be something larger than 3200x1800 later so the image is not pixelated 

You need to create something like B4 Size, 4299x3035. DO IT. remember, face in the middle
*/
 
.slide:first-child {
  background: url('illust/mobile/1M.png') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('illust/mobile/2M.png') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('illust/mobile/3M.png') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('illust/mobile/4M.png') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('illust/mobile/5M.png') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('illust/mobile/6M.png') no-repeat
    center center/cover;
}

}