/*https://fonts.google.com/specimen/Noto+Sans+JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
/*https://fonts.google.com/specimen/Sedgwick+Ave*/
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
/*https://fonts.google.com/specimen/Dancing+Script*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
    background: #fff;
    
    /*The following is for Chrome's resizeable url bar problem on mobile. 
    
    https://developers.google.com/web/updates/2016/12/url-bar-resizing
    https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile
    https://bugs.chromium.org/p/chromium/issues/detail?id=844848#c4
    */
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

/*to make easy to read*/
body {
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    word-wrap: break-word;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
a {
    text-decoration: none;
    color: #6bc6ff;
}
p {
    font-size: 16px;
    line-height: 30px;
}
strong {
    font-size: 20px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: -20px;
}
/*end*/

.wrapper {
    width: 100%;
    position: relative;
    left:0px;
    z-index: 0;/*=============================================================================Z-INDEX*/
    background-color: #ffffff;
}
/*NAVBAR START*/
.nav {
    z-index: 2;/*=============================================================================Z-INDEX*/
    height: auto;
      display: grid;
      grid-template-columns: auto auto auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
      grid-template-rows: auto;
    place-items: center;
    width: 100%;
    position: relative;
}
.top_left_logo {
    grid-row: 1;/*element inside "nav" grid container*/
    grid-column: 1;
    height: 45px;
    z-index: 3;/*=============================================================================Z-INDEX*/
    position: absolute;
    left: 0px;
    top: 2px;
}
.page_title {
    grid-row: 1;/*element inside "nav" grid container*/
    grid-column: 2;
    z-index: 1;/*=============================================================================Z-INDEX*/
    padding: 10px;
}
/*NAVBAR END*/




/*CONTAINERS START*/
.container-1 {
    width: 100%;
    min-height: 50vh; /*so it increases when the content is more than 50vh*/
    z-index: 1;/*=============================================================================Z-INDEX*/
    display: grid;
    place-items: center;
    position: relative;
}
    .container-1-content {
        width: 40vw;
        display: grid;
    }
    @media (max-width: 700px) {
        .container-1-content {
            width: 60vw;
        }
    }
    @media (max-width: 500px) {
        .container-1-content {
            width: 80%;
        }
    }
        .about {
            font-size: 1rem;
        }
            .about-decoration {
                font-size: 2rem;
                font-family: 'Roboto', sans-serif;
            }
.container-2 {
    width: 100%;
    min-height: 40vh; /*so it increases when the content is more than 50vh*/
    z-index: 1;/*=============================================================================Z-INDEX*/
    background-color: #45BFE6;
    position: relative;
    display: grid;
    grid-template-columns: auto 40vw auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
    grid-template-rows: auto;
}
    .container-2-left {
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 1;
        color: white;
        box-shadow: 0px 0px 7px black; /*x y radius color*/
        display: grid;
        place-items: center;
        font-family: 'Sedgwick Ave', cursive;
    }
    .container-2-right {
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 3;
        color: white;
    }
    .container-2-image {
        width: 40vw;
    }
        .container-2-image img {
            position: absolute;
            grid-row: 1;/*element inside "container-..." grid container*/
            grid-column: 2;
            height: 100%;
            bottom: 0;
            left: 20vw;
            transform: translateX(-50%);
        }
.container-3 {
    width: 100%;
    min-height: 40vh; /*so it increases when the content is more than 50vh*/
    z-index: 1;/*=============================================================================Z-INDEX*/
    position: relative;
}
    .container-3-header-pattern-1 {
        font-size: 2em;
    }
    .container-3-header-pattern-2 {
        font-size: 2em;
    }
    .container-3-text-contain {
        width: 100%;
        display: grid;
        place-items: center;
        z-index: 1;/*=============================================================================Z-INDEX*/
    }
        .container-3-text {
            width: auto;
            padding: 20px;
            z-index: 3;/*=============================================================================Z-INDEX*/
        }
    .container-3 img {
        position: absolute;
        z-index: 2;/*=============================================================================Z-INDEX*/
        right: 0px;
        bottom: 0px;
        height: 100px;
        opacity: 0.6;
    }
.container-4 {
    width: 100%;
    min-height: 50vh; /*so it increases when the content is more than 50vh*/
    z-index: 1;/*=============================================================================Z-INDEX*/
    background-color: #1BB5EF;
    display: grid;
    grid-template-columns: 50% 50%;/*using display:grid to adjust the position so the child elements can appear next to each other*/
    grid-template-rows: auto;
    color: white;
}
    .container-4-image {
        width: 100%;
        height: 100%;
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 2;
    }
        .content-4-image {
            background-image: linear-gradient(to right, #1BB5EF 1%, transparent 80%), url("illust/guidelines-page/half_body.png");
            background-size: cover;
            background-position: center;
            height: 100%;
            width: inherit;
        }
    .container-4-text {
        width: 100%;
        height: 100%;
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 1;
        grid-template-columns: auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
        grid-template-rows: auto auto auto;
    }
        .container-4-text p {
            padding: 16px;
        }
        .container-4-plus {
            font-size: 1.5rem;
            font-weight: bolder;
            grid-row: 1;/*element inside "container-..." grid container*/
            grid-column: 1;
        }
        .container-4-title {
            padding-top: 16px;
            grid-row: 2;/*element inside "container-..." grid container*/
            grid-column: 1;
        }
        .content-4-text {
            width: 100%;
            grid-row: 3;/*element inside "container-..." grid container*/
            grid-column: 1;
        }

.container-5 {
    width: 100%;
    min-height: 50vh; /*so it increases when the content is more than 50vh*/
    z-index: 1;/*=============================================================================Z-INDEX*/
    background-color: #6570B3;
    display: grid;
    grid-template-columns: 50% 50%;/*using display:grid to adjust the position so the child elements can appear next to each other*/
    grid-template-rows: auto;
    color: white;
    position: relative;
}
    .container-5-image {
        width: 100%;
        height: 100%;
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 1;
    }
        .content-5-image {
            background-image: linear-gradient(to left, #6570B3 1%, transparent 80%), url("illust/guidelines-page/full_body.png");
            background-size: cover;
            background-position: center;
            height: 100%;
            width: inherit;
        }
    .container-5-text {
        width: 100%;
        height: 100%;
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 2;
        grid-template-columns: auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
        grid-template-rows: auto auto auto;
    }
        .container-5-text p {
            padding: 16px;
        }
        .container-5-plus {
            font-size: 1.5rem;
            font-weight: bolder;
            grid-row: 1;/*element inside "container-..." grid container*/
            grid-column: 1;
        }
        .container-5-title {
            padding-top: 16px;
            grid-row: 2;/*element inside "container-..." grid container*/
            grid-column: 1;
        }
        .content-5-text {
            width: 100%;
            grid-row: 3;/*element inside "container-..." grid container*/
            grid-column: 1;
        }

.container-6 {
    width: 100%;
    min-height: 50vh; /*so it increases when the content is more than 50vh*/
    z-index: 1;/*=============================================================================Z-INDEX*/
    background-color: #222C49;
    display: grid;
    grid-template-columns: 50% 50%;/*using display:grid to adjust the position so the child elements can appear next to each other*/
    grid-template-rows: auto;
    color: white;
}
    .container-6-image {
        width: 100%;
        height: 100%;
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 2;
    }
        .content-6-image {
            background-image: linear-gradient(to right, #222C49 1%, transparent 80%), url("illust/guidelines-page/character_design.png");
            background-size: cover;
            background-position: center;
            height: 100%;
            width: inherit;
        }
    .container-6-text {
        width: 100%;
        height: 100%;
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-column: 1;
        grid-template-columns: auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
        grid-template-rows: auto auto auto;
    }
        .container-6-text p {
            padding: 16px;
        }
        .container-6-plus {
            font-size: 1.5rem;
            font-weight: bolder;
            grid-row: 1;/*element inside "container-..." grid container*/
            grid-column: 1;
        }
        .container-6-title {
            padding-top: 16px;
            grid-row: 2;/*element inside "container-..." grid container*/
            grid-column: 1;
        }
        .content-6-text {
            width: 100%;
            grid-row: 3;/*element inside "container-..." grid container*/
            grid-column: 1;
        }


.container-7 {
    width: 100%;
    height: auto;
    z-index: 1;/*=============================================================================Z-INDEX*/
    display: grid;
    place-items: center;
    position: relative;
    background-color: #757575;
    background-image: linear-gradient(to top, #3e3e3e 1%, transparent 2%), linear-gradient(to bottom, #3e3e3e 1%, transparent 2%); /*ilusion of depth*/

}
    .extras {
       margin-top: 10vh; 
       margin-bottom: 10vh;
       width: 60vw;
       background-color: white;
       border-radius: 20px;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 30px;
       padding-bottom: 30px;
       position: relative;
       overflow: hidden;
       box-shadow: 0px 0px 7px black; /*x y radius color*/
       z-index: 3;/*=============================================================================Z-INDEX*/
    }
        .extras-banner {
            z-index: 4;/*=============================================================================Z-INDEX*/
            display: grid;
            place-items: center;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            background-color: #1D2D3C;
            height: 50px;
            color: white;
            font-family: 'Sedgwick Ave', cursive;
        }
        .extras-content {
            padding-top: 55px;
        }
    .extras-triangle {
        position: absolute;
        height: 50%;
        z-index: 2;/*=============================================================================Z-INDEX*/
        left: 0px;
        top: 0px;
    }
.container-8 {
    width: 100%;
    height: auto;
    z-index: 1;/*=============================================================================Z-INDEX*/
    background-color: #16232E;
    color: white;
    display: grid;
    grid-template-columns: auto auto;/*using display:grid to adjust the position so the child elements can appear next to each other*/
    grid-template-rows: auto auto;
    background-image: linear-gradient(to top, #0d1219 1%, transparent 5%); /*ilusion of depth*/
}
    .TOS-title {
        font-family: 'Dancing Script', cursive;
        border-bottom: 10px solid #EDCD20;
        padding: 0px;
    }
    .container-8-TC {
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-row-end: span 2;
        grid-column: 1;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 25px;
        top: 0p;
    }
    .container-8-payments {
        grid-row: 1;/*element inside "container-..." grid container*/
        grid-row-end: span 2;
        grid-column: 2;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 25px;
        top: 0p;
    }
    @media (max-width: 780px) {
    .container-8-TC {
        grid-row: 1;
        grid-column: 1;
        grid-column-end: span 2;
        margin-top: 10vh;
        margin-bottom: 2vh;
        padding: 16px;
        padding-bottom: 0px;
    }
    .container-8-payments {
        grid-row: 2;
        grid-column: 1;
        grid-column-end: span 2;
        margin-top: 2vh;
        margin-bottom: 10vh;
        padding: 16px;
        padding-top: 0px;
    }
    }

.container-9 {
    width: 100%;
    min-height: 10vh;
    z-index: 1;/*=============================================================================Z-INDEX*/
    background-color: #3A3B3E;
    color: white;
    display: grid;
    place-items: center;
}
/*
.container- {
    width: 100%;
    height: auto;
    z-index: 1; =============================================================================Z-INDEX
    background-color: #3A3B3E;
    color: white;
}
*/
/*CONTAINERS END*/



/*TRIANGLE PICTURES START*/
@keyframes triangle-to-up-1 {
    0% {
        transform: translate(0%, +10%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
@keyframes triangle-to-up-2 {
    0% {
        transform: translate(-45%, -10%);
    }
    100% {
        transform: translate(-45%, 0%);
    }
}
@keyframes triangle-to-up-3 {
    0% {
        transform: translate(-90%, +10%);
    }
    100% {
        transform: translate(-90%, 0%);
    }
}
@keyframes triangle-to-up-4 {
    0% {
        transform: translate(-135%, -10%);
    }
    100% {
        transform: translate(-135%, 0%);
    }
}


.container-triangle {
    height: 37vw;
    width: 150vw;
    left: 0;
    z-index: 0;/*================================================================Z-INDEX*/
    display: flex;
    flex-wrap: nowrap;
}
    .first {
        height: inherit;
        width: 37vw;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-image: url('illust/guidelines-page/Top-Triangles/1.png');
        background-size: cover;
        background-position: center;
        z-index: 1;/*================================================================Z-INDEX*/
        animation: 3s ease-out 0s 1 triangle-to-up-1;
    }
    .second {
        height: inherit;
        width: 37vw;
        clip-path: polygon(50% 100%, 0% 0, 100% 0%);
        background-image: url('illust/guidelines-page/Top-Triangles/2.png');
        background-size: cover;
        background-position: center;
        z-index: 2;/*================================================================Z-INDEX*/
        transform: translateX(-45%); /* kelipatan -45%*/
        animation: 3s ease-out 0s 1 triangle-to-up-2;
    }
    .third {
        height: inherit;
        width: 37vw;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-image: url('illust/guidelines-page/Top-Triangles/3.png');
        background-size: cover;
        background-position: center;
        z-index: 3;/*================================================================Z-INDEX*/
        transform: translateX(-90%); /* kelipatan -45%*/
        animation: 3s ease-out 0s 1 triangle-to-up-3;
    }
    .fourth {
        height: inherit;
        width: 37vw;
        clip-path: polygon(50% 100%, 0% 0, 100% 0%);
        background-image: url('illust/guidelines-page/Top-Triangles/4.png');
        background-size: cover;
        background-position: center;
        z-index: 4;/*================================================================Z-INDEX*/
        transform: translateX(-135%); /* kelipatan -45%*/
        animation: 3s ease-out 0s 1 triangle-to-up-4;
    }
/*TRIANGLE PICTURES ENDS*/










/*      HAMBURGER MENU TRIGGER START (CSS)      */
/* https://youtu.be/oLgtucwjVII */
.article_links {
    position: fixed; /*Based on where viewport is*/
    overflow: hidden;
    
    z-index: 8;/*=============================================================================Z-INDEX*/
    background-color: white;
    
    top: 0px;
    right: 0px;
    transition: all 0.6s;
    
    width: 0px;
    height: 100%;
    
    display: grid;
    place-items: center;
}
.article_links_hr {
    margin-top: 10px;
}
.article_links_darken {
    position: fixed; /*Based on where viewport is*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 7;/*=============================================================================Z-INDEX*/
    transition: all 0.6s;
}
.article_links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    
  display: grid;
}
.article_links li {
  margin-bottom: 25px;
}
.article_links a {
    color: #000000;
}
.article_links_hr {
    margin-bottom: 25px;
}
#check:checked ~ .article_links {
    width: 250px;
}
#check:checked ~ .article_links_darken {
    display: block;
    opacity: 0.5;
}
.check_input {
    display: none;
}
.bold_links {
    font-size: 20px;
    font-weight: bold;
    color: #222;
}
.menu-btn {
  position: fixed; /*Based on where viewport is*/
  top: 5px;
  right: 5px;
  z-index: 9;/*=============================================================================Z-INDEX*/
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
}
/*       HAMBURGER MENU ENDS       */


/*   BOTTOM BUTTONS START    */
.bottom_button {
    z-index: 2;/*=============================================================================Z-INDEX*/
    position: fixed;
    bottom: 16px;
    left: 0px;
    width: 100vw;
    display: grid;
    height: auto;
}
.bottom_button_container {
    display: grid;
}
.bottom_button_links {
    display: grid;
    grid-template-columns: auto auto;/*using display:grid to adjust the position so the child elements can appear side by side*/
    grid-template-rows: auto;
    width: auto;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
}
    .twitter_link {
        z-index: 2;/*=============================================================================Z-INDEX*/
        
        grid-row: 1;/*element inside grid container*/
        grid-column: 1;
        margin-right: 16px;
        
        /*center the logo*/
        display: grid;
        place-items: center;
        
        /*make the background rounded*/
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        padding:10px;
    }
    .email_link {
        z-index: 2;/*=============================================================================Z-INDEX*/
        background-color: white;
        grid-row: 1;/*element inside grid container*/
        grid-column: 2;
        margin-right: 16px;
        
        /*center the logo*/
        display: grid;
        place-items: center;
        
        /*make the background rounded*/
        width: 30px;
        height: 30px;
        border-radius: 100%;
        padding:10px;
    }
    .twitter_logo {
        width: 30px;
    }
    .mail_logo {
        width: 30px;
    }
#back_to_top {
  display: none; /*hidden by default*/
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
    
    grid-row: 1;/*element inside grid container*/
    grid-column: 3;
  
  z-index: 2;/*=============================================================================Z-INDEX*/
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
    
    /*centering contents*/
    /*display: grid; it will turn to grid in the javascript instead */
    place-items: center;
    
    /*make the background rounded*/
    width: 60px;
    height: 60px;
    font-size: 2em;
    border-radius: 100%;
    background-color: white;
}

#back_to_top:hover {
  background-color: #555;
}
#back_to_top:focus {
   outline: none;
}
/*   BOTTOM BUTTON ENDS   */


@media (max-width: 660px) {
body {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 30px;
}
.wrapper {
    width: 100%;
    left:0px;
    margin-left:none;
    margin-right:none;  
    overflow-x: hidden;
}
#back_to_top:hover {
  background-color: white; /* the original color. because mobile have no hover */
}
}
