/*https://fonts.google.com/specimen/Noto+Sans+JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
    background: #fff;
    
    /*The following is for Chrome's resizeable url bar problem on mobile. 
    
    https://developers.google.com/web/updates/2016/12/url-bar-resizing
    https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile
    https://bugs.chromium.org/p/chromium/issues/detail?id=844848#c4
    */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*to make easy to read*/
body {
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
a {
    text-decoration: none;
    color: #6bc6ff;
}
p {
    font-size: 16px;
    line-height: 30px;
}
strong {
    font-size: 20px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: -20px;
}
/*end*/

.wrapper {
    width: 100%;
    position: relative;
    left:0px;
    z-index: 0;/*=============================================================================Z-INDEX*/
}
/*BACKGROUND SVG CIRCLE ANIMATION START*/
@keyframes circle_0 {
    0% {
        clip-path: circle(2% at center);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        clip-path: circle(36% at center);
        opacity: 1;
    }
    100% {
        clip-path: circle(40% at center);
        opacity: 0;
    }
}
@keyframes circle_1 {
    /* it make the white visible using expanding background-clip on a clip-path */
    0% {
        clip-path: circle(1% at center);
    }
    90% {
        clip-path: circle(34% at center);
    }
    100% {
        clip-path: circle(36% at center);
    }
}
.background-circle-svg {
  margin: 0px;
  padding: 0px;
  position: fixed;
  height:100%;
  width: 100%;
  opacity: 0;
  z-index: -9999;/*=============================================================================Z-INDEX*/
  /*
    color that will be shown when "sliding_transition_0" is run
    the background color determines the circle color
  */
  background-color: #ededed; /*#3E4A53*/
  color: #333;
  clip-path: circle(0% at 50% 50%);
  opacity: 1;
  animation-name: circle_0;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

}
.background-clippath-inner {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -999;/*=============================================================================Z-INDEX*/
  background-color: white;/*so the middle part of the circle have white color, matching with surrondings background. I use this clip path to make hole in the middle of .background-circle-svg circle because I cannot animate circle svg. or because I dont have a circle svg and cannot animate it. if I scale it up the torus width of the svg will also increase.*/
  clip-path: circle(0% at 50% 50%);
  animation: circle_1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

}
/*BACKGROUND SVG CIRCLE ANIMATION ENDS*/

/*      HAMBURGER MENU TRIGGER START (CSS)      */
/* https://youtu.be/oLgtucwjVII */
.article_links {
    position: fixed; /*Based on where viewport is*/
    overflow: hidden;
    
    z-index: 8;/*=============================================================================Z-INDEX*/
    background-color: white;
    
    top: 0px;
    right: 0px;
    transition: all 0.6s;
    
    width: 0px;
    height: 100%;
    
    display: grid;
    place-items: center;
}
.article_links_hr {
    margin-top: 10px;
}
.article_links_darken {
    position: fixed; /*Based on where viewport is*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 7;/*=============================================================================Z-INDEX*/
    transition: all 0.6s;
}
.article_links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    
  display: grid;
}
.article_links li {
  margin-bottom: 25px;
}
.article_links a {
    color: #000000;
}
.article_links_hr {
    margin-bottom: 25px;
}
#check:checked ~ .article_links {
    width: 250px;
}
#check:checked ~ .article_links_darken {
    display: block;
    opacity: 0.5;
}
.check_input {
    display: none;
}
.bold_links {
    font-size: 20px;
    font-weight: bold;
    color: #222;
}
.menu-btn {
  position: fixed; /*Based on where viewport is*/
  top: 5px;
  right: 5px;
  z-index: 9;/*=============================================================================Z-INDEX*/
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
}
/*       HAMBURGER MENU ENDS       */


/*   BOTTOM BUTTONS START    */
.bottom_button {
    z-index: 2;/*=============================================================================Z-INDEX*/
    position: fixed;
    bottom: 16px;
    left: 0px;
    width: 100vw;
    display: grid;
    height: auto;
}
.bottom_button_container {
    display: grid;
}
.bottom_button_links {
    display: grid;
    grid-template-columns: auto;/*using display:grid to adjust the position so the child elements can appear side by side*/
    grid-template-rows: auto;
    width: auto;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
}
    .twitter_link {
        z-index: 2;/*=============================================================================Z-INDEX*/
        
        grid-row: 1;/*element inside grid container*/
        grid-column: 1;
        margin-right: 16px;
        
        /*center the logo*/
        display: grid;
        place-items: center;
        
        /*make the background rounded*/
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        padding:10px;
    }
    .twitter_logo {
        width: 30px;
    }
#back_to_top {
  display: none; /*hidden by default*/
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
    
    grid-row: 1;/*element inside grid container*/
    grid-column: 3;
  
  z-index: 2;/*=============================================================================Z-INDEX*/
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
    
    /*centering contents*/
    /*display: grid; it will turn to grid in the javascript instead */
    place-items: center;
    
    /*make the background rounded*/
    width: 60px;
    height: 60px;
    font-size: 2em;
    border-radius: 100%;
    background-color: white;
}

#back_to_top:hover {
  background-color: #555;
}
#back_to_top:focus {
   outline: none;
}
/*   BOTTOM BUTTON ENDS   */



.container {
    position: relative;
}
.container_content {
    z-index: 0;/*=============================================================================Z-INDEX*/
    position: absolute; /*absolute position will use its last parent as distance reference if that latest parent have relative position property*/
    left: 10%;
    top: 14vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    color: black;
    max-width: 500px;
}
.bold_floaters {
    font-weight: bolder;
    color: black;
}