@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat&display=swap');

@keyframes sliding_transition {
    90% {
        clip-path: circle(7% at 0% 100%);
    }
    93% {
        clip-path: circle(60% at 0% 100%);
    }
    95% {
        clip-path: circle(75% at 0% 100%);
    }
    100% {
        clip-path: circle(300% at 0% 100%);
    }
}
@keyframes sliding_transition_2 {
    0% {
        clip-path: circle(7% at 0% 100%);
    }
    6% {
        clip-path: circle(75% at 0% 100%);
        background-clip: border-box;
    }
    9% {
        clip-path: circle(150% at 0% 100%);
        background-clip: border-box;
    }
    60% {
        clip-path: circle(200% at 0% 100%);
        background-clip: border-box;
    }
    100% {
        clip-path: circle(300% at 0% 100%);
    }
}
@keyframes loading_bar {
    0% {
        width: 0%;
        
        background-color: #19212B;
    }
    90% {
        width: 100%;
    }
    91% {
        width: 0%;
    }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
background: #fff;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #3E4A53;
  color: #fff;
  line-height: 1.6;
}

.loading {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.7%;
    
    background-color: #19212B;
    animation: loading_bar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slider {
  position: absolute;
  bottom:0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #3E4A53;
}
.about {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  position: absolute;
  bottom: 0;
  height:100%;
  opacity: 1;
  width: 100%;
  color: rgb(64, 60, 60);
  z-index: 4;
  padding: 90px;
  background-color: #f7f7f7;
}
.about a {
    text-decoration: none;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.slide.current {
  opacity: 1;
  
  clip-path: circle(7% at 0% 100%);
  animation: sliding_transition_2;
  animation-duration: 8s;
}
.slide .content {
  position: absolute;
  height:100%;
  left: 0%;
  opacity: 1;
  width: 100%;
  
  background-color: #3E4A53;
  color: #333;
  padding: 35px;
  clip-path: circle(7% at 0% 100%);
}
.slide .content h1 {
  margin-bottom: 0px;
}
.page_number {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: none;
  z-index: 6;
  
  font-family: 'Heebo', sans-serif;
  font-style: bold;
  color: #ffffff;
  background-color: none;
}
.slide.current .page_number {
  display: inline;
}
.slide.current .content {
  opacity: 1;
  animation-name: sliding_transition;
  animation-duration: 8s;
}
        .logo {
            position: absolute;
            width: 60px;
            height: 60px;
            mix-blend-mode: difference;
            text-align: center;
            z-index: 2;
            top: 10%;
            left: 15px;
        }
        .logo_contain svg {
            fill: #fff;
        }


.sociallinks {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: 5px;
    background-color: none;
    mix-blend-mode: difference;
}

.sociallinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.sociallinks li {
  float: left;
}

.sociallinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.site_history {
    position: absolute;
    bottom: 20px;
    right: 2px;
    font-size: 0.5em;
}
/* DESKTOP Background Images. must be 16:9. but you have to create something larger than 3200x1800 later so the image is not pixelated 

You need to create something like B4 Size, 4299x3035. DO IT. remember, face in the middle
*/
 
.slide:first-child {
  background: url('illust/desktop/1D.png') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('illust/desktop/2D.png') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('illust/desktop/3D.png') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('illust/desktop/4D.png') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('illust/desktop/5D.png') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('illust/desktop/6D.png') no-repeat
    center center/cover;
}

/*for mobile that have less than 500px*/
@media (max-width: 500px) {
body {
  font-family: 'Heebo', sans-serif;
  padding-top: 0px;
  background: #333;
  color: #fff;
  line-height: 1.6;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.page_number {
    font-size: 1em;    
}

.logo {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 15px;
    opacity: 1;
}

.about {
  font-family: 'Montserrat', sans-serif;
  text-align: none;
  position: absolute;
  bottom: 0;
  height:100%;
  opacity: 1;
  width: 100%;
  color: rgb(64, 60, 60);
  z-index: 4;
  padding: 5px;
  background-color: #f7f7f7;
}
    
.sociallinks {
    position: absolute;
    z-index: 3;
    bottom: 5%;
    right: 5px;
}

.sociallinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.sociallinks li {
  float: none;
}

.sociallinks li a {
  display: block;
  color: white;
  text-align: right;
  padding: 10px;
  text-decoration: none;
}

/* MOBILE Backgorund Images. must be something larger than 3200x1800 later so the image is not pixelated 

You need to create something like B4 Size, 4299x3035. DO IT. remember, face in the middle
*/
 
.slide:first-child {
  background: url('illust/mobile/1M.png') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('illust/mobile/2M.png') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('illust/mobile/3M.png') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('illust/mobile/4M.png') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('illust/mobile/5M.png') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('illust/mobile/6M.png') no-repeat
    center center/cover;
}

}