/*Built with no bootstraps or any kind of that to avoid obsolete codes*/

/*@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');  importing one font*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat&display=swap'); /*importing two fonts Moontserrat and Sigmar One*/

@keyframes sliding_transition {
    /* it covers the content using expanding clip-path */
    90% {
        clip-path: circle(7% at 0% 100%);
    }
    93% {
        clip-path: circle(60% at 0% 100%);
    }
    95% {
        clip-path: circle(75% at 0% 100%);
    }
    100% {
        clip-path: circle(300% at 0% 100%);
    }
}
@keyframes sliding_transition_2 {
    /* it make the content visible using expanding background-clip on a clip-path */
    0% {
        clip-path: circle(7% at 0% 100%);
    }
    6% {
        clip-path: circle(75% at 0% 100%);
        background-clip: border-box;
    }
    9% {
        clip-path: circle(150% at 0% 100%);
        background-clip: border-box;
    }
    60% {
        clip-path: circle(200% at 0% 100%);
        background-clip: border-box;
    }
    100% {
        clip-path: circle(300% at 0% 100%);
    }
}
@keyframes loading_bar {
    0% {
        width: 0%;
        background-color: #ffffff;
    }
    25% {
        background-color: #74ff68;
    }
    50% {
        background-color: #68b4ff;
    }
    /*adjusted to 90% to match "sliding_transition" keyframes*/
    90% {
        width: 100%;
        background-color: #ff6072;
    }
    91% {
        width: 0%;
    }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
background: #fff;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.loading {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.7%;
    mix-blend-mode: difference;
    
    animation: loading_bar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*our image container*/
.slider {
  position: absolute;
  bottom:0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;/*bottom most*/
  
  /*
    background color that will be shown when "sliding_transition_2" is not filling the entire page yet
    IT MUST HAVE THE SAME COLOR AS THE ONE USED IN ".slide .content" 
  */
  background-color: #21D1FC;
}

/*https://stackoverflow.com/questions/1909648/stacking-divs-on-top-of-each-other*/
.about {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  position: absolute;
  bottom: 0;
  height:100%;
  opacity: 1;
  width: 100%;
  color: rgb(64, 60, 60);
  z-index: 4;/*PALING ATAS*/
  padding: 90px;
  background-color: #f7f7f7;
}
.about a {
    text-decoration: none;
}

/*
image that are not shown yet. javascript will change an element class from "slide" to "slide curront" to show image
*/
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/*
Javasceipt will change element class to "slide current" then CSS call .slide.current and set the opacity to 1 to show image. .slide.current berarti ada 2 class di satu element, class="slide current"

diberi animation "sliding_transition_2" yang akan hanya berjalan saat Javascript mengganti suatu element ke class "slide current". animation berjalan sekali tiap class di apply. animation ini untuk membuat apapun gambar di background tammpil dalam bentuk lingkaran yang diberi animasi.
*/
.slide.current {
  opacity: 1;
  
  clip-path: circle(7% at 0% 100%);
  animation: sliding_transition_2;
  animation-duration: 8s;
}

/*
".slide .content" dengan spasi berarti element dengan class bernama "content" berada di dalam element dengan class bernama "slide", dan style ini hanya akan berjalan di 
dalam element dengan class "content" yang berada di dalam elemen dengan class bernama "slide". style ini untuk menyembunyikan menggunakan slider berwarna berbentuk expanding circle yang nantinya
akan dimunculkan dengan mengganti classnya menggunakan javascript (diganti ke "slide current" sehingga style yang berjalan adalah ".slide.current .content")

itu terjadi karena animation hanya berjalan sekali tiap diawal diaplikasikan style, jadi tiap style ter-reapply animation akan jalan lagi
*/
.slide .content {
  position: absolute;
  height:100%;
  left: 0%;
  opacity: 1;
  width: 100%;
  
  /*
    color that will be shown when "sliding_transition" is run
    IT MUST HAVE THE SAME COLOR AS THE ONE USED IN ".slider" 
  */
  background-color: #21D1FC;
  color: #333;
  padding: 35px;
  clip-path: circle(7% at 0% 100%);
}
.slide .content h1 {
  margin-bottom: 0px;
}

/*page number showing method have the same method with the one used in CSS animation, they wait for the active element shown by javascript*/
.page_number {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: none; /*Hidden before*/
  z-index: 6;
  
  font-family: 'Heebo', sans-serif;
  font-style: bold;
  color: #ffffff;
  background-color: none;
}
.slide.current .page_number {
  display: inline; /*shown after the parent class change from "slide" to "slide current"*/
}

/*
the style that always run after javascript change an element class from "slide" to "slide current", the CSS is targeted to an element with class named "content" inside that element with "slide current" class
this is to move an element
*/
.slide.current .content {
  opacity: 1;
  animation-name: sliding_transition;
  animation-duration: 8s; /* MUST HAVE THE SAME DURATION AS THE SLIDESHOW IN JAVASCRIPT */
}

.logo {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 10px;
    background-color: none;/*must there for mix-blend-mode to work*/
    mix-blend-mode: difference;
}
.sociallinks {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: 5px;
    background-color: none;/*must there for mix-blend-mode to work*/
    mix-blend-mode: difference;
}

.sociallinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.sociallinks li {
  float: left;
}

.sociallinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
/*
DESKTOP VERSION HARUS DITULIS SEBELUM @media QUERY AGAR YANG TERBACA DI HAPE ADALAH YANG DIDALAM @media, KALAU YANG TERAKHIR KODE UNTUK DESKTOP MAKA YANG TERBACA DI HAPE ADALAH KODE YANG UNTUK DESKTOP KARENA DIA SELALU TRUE. SEMENTARA DESKTOP TAK BISA MEMAKAI YANG ADA DIDALAM @media KARENA DIA BERNILAI FALSE UNTUK DESKTOP YANG PUNYA SIZE SCREEN LEBIH DARI 500PX, JADI YANG TERBACA YANG SEBELUM @media, YAITU BLOK KODE YANG UNTUK DESKTOP
https://youtu.be/yU7jJ3NbPdA
https://stackoverflow.com/questions/30460681/changing-image-src-depending-on-screen-size
*/

/* DESKTOP Backgorund Images. must be 16:9. but you have to create something larger than 3200x1800 later so the image is not pixelated 

You need to create something like B4 Size, 4299x3035. DO IT. remember, face in the middle
*/
 
.slide:first-child {
  background: url('illust/1D.png') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('illust/2D.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('illust/3D.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('illust/4D.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('illust/5DM.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('illust/6D.jpg') no-repeat
    center center/cover;
}

/*for mobile that have less than 500px*/
@media (max-width: 500px) {
body {
  font-family: 'Heebo', sans-serif;
  padding-top: 0px;
  background: #333;
  color: #fff;
  line-height: 1.6;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.page_number {
    font-size: 1em;    
}

.logo {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 15px;
    background-color: none;/*must there for mix-blend-mode to work*/
    mix-blend-mode: difference;
}

.about {
  font-family: 'Montserrat', sans-serif;
  text-align: none;
  position: absolute;
  bottom: 0;
  height:100%;
  opacity: 1;
  width: 100%;
  color: rgb(64, 60, 60);
  z-index: 4;/*PALING ATAS*/
  padding: 5px;
  background-color: #f7f7f7;
}
    
.sociallinks {
    position: absolute;
    z-index: 3;/*above slider*/
    bottom: 5%;
    right: 5px;
}

.sociallinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.sociallinks li {
  float: none;/*for vertical list in mobile*/
}

.sociallinks li a {
  display: block;
  color: white;
  text-align: right;
  padding: 10px;
  text-decoration: none;
}

/* MOBILE Backgorund Images. must be something larger than 3200x1800 later so the image is not pixelated 

You need to create something like B4 Size, 4299x3035. DO IT. remember, face in the middle
*/
 
.slide:first-child {
  background: url('illust/1M.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('illust/2M.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('illust/3M.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('illust/4M.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('illust/5DM.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('illust/6M.jpg') no-repeat
    center center/cover;
}

}